@use "variabel" as varr;


@mixin pesan($send: false){
  display: flex;
  flex-direction: row;
  @if $send {
    justify-content: flex-end;
  }else{
    justify-content: flex-start;
  }
}


@mixin flex($dir: row, $jus: center, $align: center,){
  display: flex;
  justify-content: $jus;
  align-items: $align;
  flex-direction: $dir;
}


@mixin profile($rad: 50%, $size: 100px, $shadow: none){
  max-width: 100%;
  border-radius: $rad;
  width: $size;
  height: $size;
  box-shadow: $shadow;
}

@mixin trianggle($dir: left, $color: white, $size: 3px){
  width: 0;
  height: 0;
  border-color: transparent;
  @if $dir == left{
      border-right: $size, $color, solid;
  }
  @else if $dir == down {
      border-top: $size, $color, solid;
  }@else if $dir == right{
      border-left: $size, $color, solid;
  }@else if $dir == up {
    border-bottom: $size, $color, solid;
  }
}
