@use "mixin" as mix;


.peringaten{
  max-width: 800pxpx;
  width: 90%;
}

.login_container{
  @include mix.flex($dir: column,$jus: center, $align: center);
  width: 100vw;
  height: 100vh;
  .login-form{
    transform: translateY(-8%);
    padding: 50px;
    width: fit-content;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
  div{
  .form-control{
    max-width: 700px;
    width: 100%;
  }
  }
  } 

}

.sudah-belum{
  text-decoration: dashed;
  margin: auto;
  margin-top: 10px;
}
