@use 'mixin' as mix;
@use 'variabel' as varr;



.user_detail_poto{
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
  @include mix.flex(column,center,center);
  h1{
    margin: auto;

  }
  .img{
    background: black;
  }
  .me{
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .custom-file-upload{
  
    height: 200px;
    width: 200px;
  }
}
